.questions-cont {
	height: 300px;
	width: 400px;
	position: relative;
	top: 50px;
}

.questions-cont h2 {
	color: var(--question-color);
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.answers-cont {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.answers-cont .question {
	background-color: var(--bg-color);
	color: var(--letter-color);
	border: 2px solid var(--letter-color);
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	border-radius: 8px;
	padding: 0px 6px 0px 10px;
}

.answers-cont .question:hover {
	background-color: var(--selected-color);
	border-color: var(--selected-color);
	color: var(--bg-color);
}

.answers-cont .selected.correct {
	background-color: var(--correct-color);
	border-color: var(--correct-color);
	color: var(--bg-color);
}

.answers-cont .correct {
	background-color: var(--correct-color);
	border-color: var(--correct-color);
	color: var(--bg-color);
}

.answers-cont .incorrect {
	background-color: var(--wrong-color);
	border-color: var(--wrong-color);
	color: var(--bg-color);
}

.question .btn-text {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.question .icon {
	opacity: 0;
	transition: all;
}

.question.incorrect .icon {
	opacity: 1;
}

.question.correct .icon {
	opacity: 1;
}

/* Estilos específicos para FlagQuestion */
.questions-cont .flag {
	font-size: 40px;
	position: absolute;
	top: -64px;
}
