/* Checkboxes */
.switch-container {
	top: 10px;
	left: 10px;
	position: absolute;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--bg-color);
	color: var(--letter-color);
}

.menu-icon {
	background-color: var(--bg-color);
	border: none;
	position: absolute;
	top: 10px;
	left: 226px;
	border-radius: 5px;
}

.switch-container .label-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.switch input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--bg-color);
	margin: 0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin: 10px 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--switch-color);
	transition: 0.4s;
	border-radius: 32px;
}

.slider:before {
	position: absolute;
	content: '';
	height: 10px;
	width: 10px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background-color: var(--bg-color);
	transition: 0.4s;
	border-radius: 50px;
}

input:checked + .slider {
	background-color: var(--selected-color);
}

input:checked + .slider::before {
	transform: translateX(20px);
}
