:root {
	--bg-color: #ffffff;
	--selected-color: #f9a826;
	--correct-color: #60bf88;
	--wrong-color: #ea8282;
	--question-color: #2f527b;
	--letter-color: #6066d0cc;
}

.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.quiz-cont {
	width: 460px;
	min-height: 500px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	padding-right: 200px;
	margin-bottom: 10px;
	font-size: 34px;
	font-weight: bold;
}

.globe {
	position: absolute;
	top: 40px;
	right: 454px;
}

.quiz-cont .next-btn {
	width: 110px;
	height: 54px;
	position: relative;
	top: 90px;
	left: 142px;
	background-color: var(--selected-color);
	color: var(--bg-color);
	border: none;
	border-radius: 12px;
	font-size: 20px;
	font-weight: bold;
}
