:root {
	--bg-color: #ffffff;
	--selected-color: #f9a826;
	--correct-color: #60bf88;
	--wrong-color: #ea8282;
	--question-color: #2f527b;
	--letter-color: #6066d0cc;
}

.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.quiz-cont {
	width: 460px;
	min-height: 500px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--letter-color);
}

h1 {
	padding-right: 200px;
	margin-bottom: 10px;
	font-size: 34px;
	font-weight: bold;
}

img {
	position: absolute;
	top: 40px;
	right: 454px;
}
