:root {
	--bg-color: #ffffff;
	--selected-color: #f9a826;
	--correct-color: #60bf88;
	--wrong-color: #ea8282;
	--question-color: #2f527b;
	--letter-color: #6066d0cc;
	--win-letter-color: #1d355d;
	--win-number-color: #6fcf97;
}

.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.quiz-cont {
	width: 460px;
	min-height: 480px;
	background-color: var(--bg-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}

h1 {
	padding-right: 200px;
	margin-bottom: 10px;
	font-size: 34px;
	font-weight: bold;
}

.globe {
	position: absolute;
	top: 50px;
	right: 454px;
}

.quiz-cont .next-btn {
	width: 110px;
	height: 54px;
	position: relative;
	top: 70px;
	left: 142px;
	background-color: var(--letter-color);
	color: var(--bg-color);
	border: none;
	border-radius: 12px;
	font-size: 20px;
	font-weight: bold;
}

.quiz-cont .next-btn:hover {
	background-color: var(--selected-color);
}
